<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.health.mapper.User_FoodMapper">

    <!--<resultMap id="BaseResultMap" type="cn.health.domain.User">-->
    <!--<id column="user_id" property="user_id" jdbcType="INTEGER"/>-->
    <!--<result column="user_name" property="user_name" jdbcType="VARCHAR"/>-->
    <!--<result column="telphone" property="telphone" jdbcType="VARCHAR"/>-->
    <!--<result column="gender" property="gender" jdbcType="TINYINT"/>-->
    <!--<result column="birthday" property="birthday" jdbcType="DATE"/>-->
    <!--</resultMap>-->
    <insert id="add"  parameterType="cn.health.domain.User_Food">
        INSERT INTO user_food VALUES (#{date},#{user_id},#{total_calorie},#{total_vA},#{total_vB},#{total_vC},#{total_vD},#{total_vE},#{total_protein},#{total_fat},#{total_carbs})
    </insert>

    <update id="updatetotal_calorie"  parameterType="cn.health.domain.User_Food">
        UPDATE user_food SET total_calorie = #{total_calorie}
    </update>

    <update id="updatetotal_vitaminA"  parameterType="cn.health.domain.User_Food">
        UPDATE user_food SET total_vitaminA = #{total_vitaminA}
    </update>

    <update id="updatetotal_vitaminB"  parameterType="cn.health.domain.User_Food">
        UPDATE user_food SET total_vitaminB = #{total_vitaminB}
    </update>

    <update id="updatetotal_vitaminC"  parameterType="cn.health.domain.User_Food">
        UPDATE user_food SET total_vitaminC = #{total_vitaminC}
    </update>

    <update id="updatetotal_vitaminD"  parameterType="cn.health.domain.User_Food">
        UPDATE user_food SET total_vitaminD = #{total_vitaminD}
    </update>

    <update id="updatetotal_vitaminE"  parameterType="cn.health.domain.User_Food">
        UPDATE user_food SET total_vitaminE = #{total_vitaminE}
    </update>

    <update id="updatetotal_fat"  parameterType="cn.health.domain.User_Food">
        UPDATE user_food SET total_fat = #{total_fat}
    </update>

    <update id="updatetotal_protein"  parameterType="cn.health.domain.User_Food">
        UPDATE user_food SET total_protein = #{total_protein}
    </update>

    <update id="updatetotal_carbs"  parameterType="cn.health.domain.User_Food">
        UPDATE user_food SET total_carbs = #{total_carbs}
    </update>

    <select id="selectByIdDate"  parameterType="cn.health.domain.User_Food">
        SELECT * From user_food WHERE date = #{date} AND user_id = #{user_id}
    </select>

    <select id="selectCloestById"  parameterType="cn.health.domain.User_Food">
        select * FROM (SELECT * From user_food WHERE user_id = #{user_id}) as new_uf ORDER BY user_id desc LIMIT 1
    </select>

</mapper>
