<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.health.mapper.AlarmclockMapper">

    <insert id="add" parameterType="cn.health.domain.Alarmclock">
        INSERT INTO alarmclock VALUES (#{id}, #{user_id}, #{name}, #{time}, #{type}, #{date})
    </insert>

    <select id="selectByDate" parameterType="java.util.Date" resultType="cn.health.domain.Alarmclock">
        SELECT * FROM alarmclock WHERE type = 'everyday' OR date = #{date}
    </select>
</mapper>