<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.health.mapper.AlarmclockMapper">

    <insert id="add" parameterType="cn.health.domain.Alarmclock" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO alarmclock(user_id, name, time, type, date) VALUES (#{user_id}, #{name}, #{time}, #{type}, #{date})
    </insert>

    <select id="selectByDate" parameterType="java.util.Date" resultType="cn.health.domain.Alarmclock">
        SELECT * FROM alarmclock WHERE type = '每天提醒' OR date = #{date} AND (type='每周提醒' AND  DATEDIFF(#{date},date)>=0 AND DATEDIFF(#{date},date)%7=0)
    </select>

    <select id="selectALLByID" parameterType="java.lang.Integer" resultType="cn.health.domain.Alarmclock">
        SELECT * FROM alarmclock WHERE  user_id = #{user_id}
    </select>
</mapper>