<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.health.mapper.Subject_Mapper">

    <select id="getALL" resultType="cn.health.domain.Subject" >
        SELECT * FROM subject WHERE questionnaire_id = #{questionnaire_id}
    </select>

    <select id="getScore" resultType="java.lang.Integer" >
        SELECT point FROM subject WHERE questionnaire_id = #{questionnaire_id}
    </select>

    <insert id="add" parameterType="cn.health.domain.Subject" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO subject(subject_id, questionnaire_id, Q, A1,a2,A2,A3,A4, point) VALUES (#{subject_id}, #{questionnaire_id}, #{Q}, #{A1}, #{A2},#{A3}, #{A4},#{point})
    </insert>

</mapper>