<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.health.mapper.User_questionaire_GradeMapper">

    <insert id="add" parameterType="cn.health.domain.User_questionaire_Grade">
        INSERT INTO user_questionaire_grade(questionaire_id,date,user_id, grade) VALUES (#{questionaire_id}, #{date}, #{user_id}, #{grade})
    </insert>

    <select id="getGrade" resultType="cn.health.domain.User_questionaire_Grade" >
        SELECT * FROM subject WHERE questionnarie_id = #{questionnarie_id} AND user_id = #{user_id}
    </select>

</mapper>